<a href="https://colab.research.google.com/github/GastonGago/PEC2_Gago_AnaliticaEscalable/blob/main/TFM_FINAL_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Your runtime has 27.3 gigabytes of available RAM

You are using a high-RAM runtime!

In [2]:
import pandas as pd

df = pd.read_csv('tfmdata.csv', delimiter=';', header=1)

In [3]:
df.shape

(20119, 41)

In [4]:
df.info

<bound method DataFrame.info of        IdLugarSalida            Lugar Salida  IdTranspSalidad  \
0                  4                    Chuy                2
1                 18              Río Branco                2
2                  3  Aeropuerto de Carrasco                1
3                  3  Aeropuerto de Carrasco                1
4                  4                    Chuy                2
...              ...                     ...              ...
20114              7             Fray Bentos                2
20115              3  Aeropuerto de Carrasco                1
20116             10                   Salto                2
20117              7             Fray Bentos                2
20118              8                Paysandú                2

      Transporte Internacional de Salida FechaSalida  IdFecSalida  \
0                         Terrestre Auto  29/12/2016        13512
1                         Terrestre Auto  29/12/2016        13512
2                                  Aereo    3/1/2017        13517
3                                  Aereo    6/1/2017        13520
4                         Terrestre Auto    2/1/2017        13516
...                                  ...         ...          ...
20114                     Terrestre Auto  27/12/2022        15701
20115                              Aereo  25/12/2022        15699
20116                     Terrestre Auto  27/12/2022        15701
20117                     Terrestre Auto  26/12/2022        15700
20118                     Terrestre Auto   11/1/2023        15716

      FechaEntrada  IdFecEntrada  IdNacionalidad     Pais  ...  \
0        10/1/2017         13524               1  Uruguay  ...
1         9/1/2017         13523               1  Uruguay  ...
2        27/1/2017         13541               1  Uruguay  ...
3        21/1/2017         13535               1  Uruguay  ...
4        25/1/2017         13539               1  Uruguay  ...
...            ...           ...             ...      ...  ...
20114     7/1/2023         15712               1  Uruguay  ...
20115    10/1/2023         15715               1  Uruguay  ...
20116     5/1/2023         15710               1  Uruguay  ...
20117   30/12/2022         15704               1  Uruguay  ...
20118    11/1/2023         15716               1  Uruguay  ...

       GastoAlojamiento GastoAlimentacion  GastoTransporteInternac  \
0                981.39            350.50                      0.0
1               1100.00            880.00                      0.0
2                  0.00           1129.75                    214.0
3               2228.41           1782.73                    117.0
4               1800.00            933.12                      0.0
...                 ...               ...                      ...
20114            800.00            416.44                      0.0
20115              0.00           2309.63                   2400.0
20116            600.00            300.00                      0.0
20117            323.82            200.00                      0.0
20118              0.00             12.69                      0.0

      GatoTransporteLocal  GastoCultural GastoTours  GastoCompras GastoResto  \
0                  175.24           0.00       0.00          0.00       0.00
1                  385.00         300.00     235.00        210.00     165.00
2                  836.85         523.03     256.29       2039.83       0.00
3                  779.94         445.68       0.00        311.98     334.26
4                  408.24         152.14       0.00        106.50       0.00
...                   ...            ...        ...           ...        ...
20114              166.34         400.00       0.00        250.81     166.40
20115                0.00         540.88     107.80        754.60    1287.08
20116             1092.21         200.00       0.00        469.17    1179.10
20117               40.00         197.16       0.00        350.00     393.03
20118                0.00           0.00       0.00         88.86       0.00

         Coef CoefTot
0       89.61  448.05
1       96.18  480.88
2      129.04  258.09
3      129.04  387.13
4       89.61  448.05
...       ...     ...
20114  101.75  101.76
20115  247.33  247.58
20116   79.35   78.43
20117   79.35   78.43
20118   79.35   78.43

[20119 rows x 41 columns]>

In [7]:
# Extraer los años únicos de la columna "FechaSalida"
anios = pd.DatetimeIndex(df['FechaSalida']).year.unique()



# Imprimir los años únicos
print(anios)

Int64Index([2016, 2017, 2018, 2019, 2020, 2022, 2021, 2023], dtype='int64', name='FechaSalida')

<ipython-input-7-763cc652e01e>:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  anios = pd.DatetimeIndex(df['FechaSalida']).year.unique()

In [76]:
destinations = df[['Destino', 'Pais', 'Departamento', 'Estadia', 'GastoTotal']]

In [9]:
destinations

         Destino     Pais    Departamento  Estadia  GastoTotal
0         Brasil  Uruguay      Montevideo       12     1507.12
1         Brasil  Uruguay       Maldonado       11     3275.00
2         Europa  Uruguay       Canelones       24     4785.75
3         Brasil  Uruguay      Montevideo       15     5883.00
4         Brasil  Uruguay       Canelones       23     3400.00
...          ...      ...             ...      ...         ...
20114      Chile  Uruguay      Montevideo       11     2200.00
20115     Europa  Uruguay  Treinta y Tres       16     5000.00
20116  Argentina  Uruguay       Saqn Jose        9     3840.49
20117  Argentina  Uruguay         Soriano        4     1504.02
20118  Argentina  Uruguay        Paysandu        1      101.56

[20119 rows x 5 columns]

In [75]:
repeated_countries = df['Destino'].value_counts()

# Imprime la serie con la cantidad de países repetidos
print(repeated_countries)

Argentina                   12825
Brasil                       3984
Centro y Norte America       1183
Europa                        826
Paraguay                      424
Chile                         368
Resto Sud America             364
Asia del Este y Pacifico       69
Oriente Medio                  29
Africa                         22
Sin Datos                      20
Otros                           3
Asia Meridional                 2
Name: Destino, dtype: int64

In [74]:
estudio = df['Estudio'].value_counts()

# Imprime la serie con la cantidad de países repetidos
print(estudio)

Secundaria completa      6911
Terciaria completa       4985
Terciaria incompleta     4705
Secundaria incompleta    2588
Otros                     664
Primaria completa         232
Sin Datos                  31
Primaria incompleta         3
Name: Estudio, dtype: int64

In [73]:
motivo = df['Motivo'].value_counts()

# Imprime la serie con la cantidad de países repetidos
print(motivo)

Ocio, Recreo, Vacaciones      9384
Visita familiares / amigos    6983
Negocios, Profesion           2533
Compras                        400
Estudios                       200
Tratamiento Salud              186
Otros                          147
Religion y Peregrinaciones     137
Deportivo                      130
Trabajo remunerado Destino      19
Name: Motivo, dtype: int64

In [72]:
gente = df['Gente'].value_counts()

# Imprime la serie con la cantidad de países repetidos
print(gente)

2     8617
1     5912
3     2522
4     2472
5      386
6      126
7       47
8       26
9        6
10       2
15       1
12       1
13       1
Name: Gente, dtype: int64

In [15]:
# Filtrar personas de 25 años que viajaron por estudio
estudiosos = df[(df['Motivo'] == 'Estudios')]

# Imprimir el DataFrame filtrado
print(estudiosos["Destino"])

552                      Europa
647                      Europa
657                      Brasil
672                      Europa
720      Centro y Norte America
                  ...
19135                     Chile
19226                    Brasil
19391                 Argentina
19687                 Argentina
19927                     Chile
Name: Destino, Length: 200, dtype: object

In [71]:

estudiosos = df[df['Motivo'] == 'Estudios']

# Obtener la columna de destinos de los estudiosos
destinos_estudiosos = estudiosos['Destino']

# Imprimir los destinos
print(destinos_estudiosos)

552                      Europa
647                      Europa
657                      Brasil
672                      Europa
720      Centro y Norte America
                  ...
19135                     Chile
19226                    Brasil
19391                 Argentina
19687                 Argentina
19927                     Chile
Name: Destino, Length: 200, dtype: object

In [17]:
# Obtener los destinos únicos de los estudiosos
destinos_unicos_estudiosos = estudiosos['Destino'].unique()

# Imprimir los destinos únicos
print(destinos_unicos_estudiosos)

['Europa' 'Brasil' 'Centro y Norte America' 'Argentina' 'Africa' 'Chile'
 'Resto Sud America' 'Asia del Este y Pacifico']

In [70]:
import pandas as pd

estudiosos = df[df['Motivo'] == 'Estudios']

# Obtener la cuenta de personas por destino
destinos_count = estudiosos['Destino'].value_counts()

# Imprimir la cuenta de personas por destino
print(destinos_count)

Argentina                   87
Europa                      39
Centro y Norte America      27
Brasil                      26
Chile                       11
Resto Sud America            8
Africa                       1
Asia del Este y Pacifico     1
Name: Destino, dtype: int64

In [19]:
# Ordenar los destinos por la cantidad de personas en orden descendente
destinos_count = destinos_count.sort_values(ascending=False)

# Imprimir la cuenta de personas por destino ordenada
print(destinos_count)

Argentina                   87
Europa                      39
Centro y Norte America      27
Brasil                      26
Chile                       11
Resto Sud America            8
Africa                       1
Asia del Este y Pacifico     1
Name: Destino, dtype: int64

In [20]:
import numpy as np

scores = np.array(destinations['Estadia'] * destinations['GastoTotal'])
#Calcula el puntaje de cada destino utilizando la biblioteca numpy.

In [21]:
df['FechaSalida'] = pd.to_datetime(df['FechaSalida'])

<ipython-input-21-8d511f691989>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['FechaSalida'] = pd.to_datetime(df['FechaSalida'])

In [69]:
import pandas as pd

def asignar_estacion(row):
    fecha = row['FechaSalida']
    lugar = row['Destino']

    if lugar == 'Europa':
        if pd.to_datetime('21-03-' + str(fecha.year)) <= fecha < pd.to_datetime('21-06-' + str(fecha.year)):
            return 'Primavera'
        elif pd.to_datetime('21-06-' + str(fecha.year)) <= fecha < pd.to_datetime('23-09-' + str(fecha.year)):
            return 'Verano'
        elif pd.to_datetime('23-09-' + str(fecha.year)) <= fecha < pd.to_datetime('21-12-' + str(fecha.year)):
            return 'Otoño'
        else:
            return 'Invierno'
    elif lugar == 'Centro y Norte America':
        if pd.to_datetime('20-03-' + str(fecha.year)) <= fecha < pd.to_datetime('21-06-' + str(fecha.year)):
            return 'Primavera'
        elif pd.to_datetime('21-06-' + str(fecha.year)) <= fecha < pd.to_datetime('22-09-' + str(fecha.year)):
            return 'Verano'
        elif pd.to_datetime('22-09-' + str(fecha.year)) <= fecha < pd.to_datetime('21-12-' + str(fecha.year)):
            return 'Otoño'
        else:
            return 'Invierno'
    elif lugar in ['Argentina', 'Chile', 'Perú', 'Brasil', 'Resto Sud America','Paraguay']:
        if pd.to_datetime('23-09-' + str(fecha.year)) <= fecha < pd.to_datetime('21-12-' + str(fecha.year)):
            return 'Primavera'
        elif pd.to_datetime('21-12-' + str(fecha.year)) <= fecha < pd.to_datetime('21-03-' + str(fecha.year + 1)):
            return 'Verano'
        elif pd.to_datetime('21-03-' + str(fecha.year + 1)) <= fecha < pd.to_datetime('21-06-' + str(fecha.year + 1)):
            return 'Otoño'
        else:
            return 'Invierno'
    elif lugar == 'Asia del Este y Pacifico':
        if pd.to_datetime('01-03-' + str(fecha.year)) <= fecha < pd.to_datetime('01-06-' + str(fecha.year)):
            return 'Primavera'
        elif pd.to_datetime('01-06-' + str(fecha.year)) <= fecha < pd.to_datetime('01-09-' + str(fecha.year)):
            return 'Verano'
        elif pd.to_datetime('01-09-' + str(fecha.year)) <= fecha < pd.to_datetime('01-12-' + str(fecha.year)):
            return 'Otoño'
        else:
            return 'Invierno'
    elif lugar == 'África del Sur':
        if pd.to_datetime('01-11-' + str(fecha.year)) <= fecha < pd.to_datetime('01-04-' + str(fecha.year + 1)):
            return 'Verano'
        else:
            return 'Invierno'

# Aplicar la funcion a todo el df para asignarle una estacion al año.
df['Estacion'] = df.apply(asignar_estacion, axis=1)

<ipython-input-69-3c329cbcf8bd>:26: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  if pd.to_datetime('23-09-' + str(fecha.year)) <= fecha < pd.to_datetime('21-12-' + str(fecha.year)):
<ipython-input-69-3c329cbcf8bd>:28: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  elif pd.to_datetime('21-12-' + str(fecha.year)) <= fecha < pd.to_datetime('21-03-' + str(fecha.year + 1)):
<ipython-input-69-3c329cbcf8bd>:8: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  if pd.to_datetime('21-03-' + str(fecha.year)) <= fecha < pd.to_datetime('21-06-' + str(fecha.year)):
<ipython-input-69-3c329cbcf8bd>:10: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  elif pd.to_datetime('21-06-' + str(fecha.year)) <= fecha < pd.to_datetime('23-09-' + str(fecha.year)):
<ipython-input-69-3c329cbcf8bd>:12: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  elif pd.to_datetime('23-09-' + str(fecha.year)) <= fecha < pd.to_datetime('21-12-' + str(fecha.year)):
<ipython-input-69-3c329cbcf8bd>:30: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  elif pd.to_datetime('21-03-' + str(fecha.year + 1)) <= fecha < pd.to_datetime('21-06-' + str(fecha.year + 1)):
<ipython-input-69-3c329cbcf8bd>:17: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  if pd.to_datetime('20-03-' + str(fecha.year)) <= fecha < pd.to_datetime('21-06-' + str(fecha.year)):
<ipython-input-69-3c329cbcf8bd>:19: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  elif pd.to_datetime('21-06-' + str(fecha.year)) <= fecha < pd.to_datetime('22-09-' + str(fecha.year)):
<ipython-input-69-3c329cbcf8bd>:21: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  elif pd.to_datetime('22-09-' + str(fecha.year)) <= fecha < pd.to_datetime('21-12-' + str(fecha.year)):

In [66]:
estacion = df['Estacion'].value_counts()

# Imprime la serie con la cantidad de países repetidos
print(estacion)

Invierno     13382
Primavera     4919
Verano        1270
Otoño          472
Name: Estacion, dtype: int64

In [24]:

columnas_seleccionadas = ['Estacion', 'Destino', 'FechaSalida']
df_seleccionado = df[columnas_seleccionadas]

# Imprime las primeras filas del DataFrame seleccionado
print(df_seleccionado)

        Estacion    Destino FechaSalida
0         Verano     Brasil  2016-12-29
1         Verano     Brasil  2016-12-29
2       Invierno     Europa  2017-03-01
3       Invierno     Brasil  2017-06-01
4       Invierno     Brasil  2017-02-01
...          ...        ...         ...
20114     Verano      Chile  2022-12-27
20115   Invierno     Europa  2022-12-25
20116     Verano  Argentina  2022-12-27
20117     Verano  Argentina  2022-12-26
20118  Primavera  Argentina  2023-11-01

[20119 rows x 3 columns]

In [67]:
import pandas as pd

df['FechaSalida'] = pd.to_datetime(df['FechaSalida'])

# Agregar el año como una columna adicional
df['Año'] = df['FechaSalida'].dt.year

# Agrupar por mes con año
df_por_mes = df.groupby([df['FechaSalida'].dt.year, df['FechaSalida'].dt.month]).sum()

# Agrupar por trimestre con año
df['Trimestre'] = df['FechaSalida'].dt.quarter
df_por_trimestre = df.groupby(['Año', 'Trimestre']).sum()

# Imprime los DataFrames resultantes
print("Agrupado por mes con año:")
print(df_por_mes)

print("\nAgrupado por trimestre con año:")
print(df_por_trimestre)

Agrupado por mes con año:
                         IdLugarSalida  IdTranspSalidad  IdFecSalida  \
FechaSalida FechaSalida
2016        12                     857              320      1783414
2017        1                     3596             1523      8041153
            2                     3137             1459      7708529
            3                     3145             1538      7920591
            4                     3113             1715      8372554
...                                ...              ...          ...
2023        8                       80               42       235695
            9                      133               53       314280
            10                     107               38       298585
            11                     134               54       377184
            12                      74               34       172887

                         IdFecEntrada  IdNacionalidad  IdDeptoResidencia  \
FechaSalida FechaSalida
2016        12                1784833             228               3435
2017        1                 8045854             772              15994
            2                 7712941             786              14149
            3                 7924655             785              15121
            4                 8376437             956              15114
...                               ...             ...                ...
2023        8                  235773              15                428
            9                  314369              20                654
            10                 298689              54                607
            11                 377287              33               1020
            12                 172950              11                388

                         IdMotivo  IdOcupacion  IdNivelEstudio  IdDestino  \
FechaSalida FechaSalida
2016        12                187         1640             608       2520
2017        1                1137         6780            2736       9945
            2                1097         6839            2657       9857
            3                1142         6938            2739       9186
            4                1228         7160            2889       9297
...                           ...          ...             ...        ...
2023        8                  39          304              72        190
            9                  39          186             102        230
            10                 47          242              98        320
            11                 99          321             112        320
            12                 30          154              53        120

                         ...  GastoTransporteInternac  GatoTransporteLocal  \
FechaSalida FechaSalida  ...
2016        12           ...                 25968.32             21095.11
2017        1            ...                166159.57             67579.32
            2            ...                208879.29             80707.08
            3            ...                172088.44             57607.32
            4            ...                195472.40             53137.54
...                      ...                      ...                  ...
2023        8            ...                   750.00              1592.07
            9            ...                  1459.84              2337.34
            10           ...                  6224.19              2961.27
            11           ...                  7332.15              3516.63
            12           ...                   894.84              1698.96

                         GastoCultural  GastoTours  GastoCompras  GastoResto  \
FechaSalida FechaSalida
2016        12                17726.64     1119.35      36088.64    71631.85
2017        1                 61654.35     2880.49     119553.93   113699.73
            2                 69836.81     3128.01     157279.97   107803.48
            3                 57566.06     2579.75     133775.30   109483.17
            4                 52403.05     2771.22     135139.05    86856.33
...                                ...         ...           ...         ...
2023        8                   799.01        0.00       2466.67     1021.67
            9                   443.56        0.00       4432.72     1643.27
            10                  774.71      171.24       4633.12     1271.76
            11                 1006.65      195.98       6270.83      831.92
            12                 1102.61        0.00       2058.49     1850.29

                             Coef    CoefTot      Año  Trimestre
FechaSalida FechaSalida
2016        12           17873.14   49668.33   266112        528
2017        1            80032.07  158547.66  1192047        591
            2            72298.30  147896.29  1141622        566
            3            74590.84  148552.18  1171877        581
            4            86844.83  162148.20  1236421       1226
...                           ...        ...      ...        ...
2023        8             1239.17    1271.89    30345         45
            9             1623.69    1640.18    40460         60
            10            1764.37    1828.54    38437         76
            11            2133.53    2170.77    48552         96
            12             885.08     886.59    22253         44

[76 rows x 29 columns]

Agrupado por trimestre con año:
                IdLugarSalida  IdTranspSalidad  IdFecSalida  IdFecEntrada  \
Año  Trimestre
2016 4                    857              320      1783414       1784833
2017 1                   9878             4520     23670273      23683450
     2                   8839             4510     23295136      23306434
     3                  10121             4783     25902204      25914750
     4                   9114             4305     22741866      22752504
2018 1                   5850             2429     13580939      13587584
     2                   5491             2525     13977783      13983928
     3                   5765             2543     14401800      14408174
     4                   5409             2422     13403391      13409015
2019 1                   5895             2549     14593225      14599931
     2                   6138             2492     14435860      14442077
     3                   7238             3050     17353794      17361226
     4                   7623             3156     18081521      18089350
2020 1                   3604             1354      7438057       7441284
     2                    656              248      1317752       1318346
     3                    708              304      1552068       1552636
     4                    651              211      1156635       1157094
2021 3                      1                5        15287         15377
     4                    225               88       628620        629505
2022 1                   3916             1661     10199353      10205585
     2                   4151             1767     10981527      10986495
     3                   4840             2023     12127692      12132386
     4                   6921             3141     18674358      18681607
2023 1                   1719              629      3866957       3868007
     2                    555              178      1241105       1241572
     3                    413              152       989911        990214
     4                    315              126       848656        848926

                IdNacionalidad  IdDeptoResidencia  IdMotivo  IdOcupacion  \
Año  Trimestre
2016 4                     228               3435       187         1640
2017 1                    2343              45264      3376        20557
     2                    2397              43232      3442        20178
     3                    2587              49618      3746        22564
     4                    2304              43249      3237        19803
2018 1                    1302              27008      1768        11694
     2                    1201              26781      2068        11922
     3                    1349              28581      2016        11957
     4                    1175              25980      1842        11412
2019 1                    1190              27468      1953        12414
     2                    1360              28418      1991        12059
     3                    1617              34305      2432        14420
     4                    1849              34368      2498        15154
2020 1                     768              15108      1013         6327
     2                     211               2684       171         1118
     3                     142               3255       215         1403
     4                      79               2285       208         1071
2021 3                       1                 21         2           13
     4                     176               1008        67          557
2022 1                    1230              19244      1389         8034
     2                    1181              19929      1427         9341
     3                    1208              24183      1658         9997
     4                    1930              34484      2568        15881
2023 1                     399               9347       888         3135
     2                     154               2551       182         1017
     3                      72               1979       126          838
     4                      98               2015       176          717

                IdNivelEstudio  IdDestino  ...  GastoAlojamiento  \
Año  Trimestre                             ...
2016 4                     608       2520  ...          48907.94
2017 1                    8132      28988  ...         660838.11
     2                    8131      27239  ...         571219.98
     3                    8882      31101  ...         695070.96
     4                    7718      26482  ...         518047.88
2018 1                    4412      16755  ...         432571.87
     2                    4566      16421  ...         338339.87
     3                    4680      17631  ...         345519.26
     4                    4352      15384  ...         305180.38
2019 1                    4688      16830  ...         370363.52
     2                    4635      16319  ...         355310.71
     3                    5505      18971  ...         358838.53
     4                    5791      19417  ...         337775.77
2020 1                    2371       7776  ...         197570.49
     2                     430       1309  ...          29072.29
     3                     495       1489  ...          30330.73
     4                     338       1262  ...          26455.54
2021 3                       6         10  ...              0.00
     4                     197        806  ...          11341.17
2022 1                    3120      10396  ...         198540.22
     2                    3347      11256  ...         238188.78
     3                    3705      11460  ...         218140.92
     4                    5800      17664  ...         285375.01
2023 1                    1118       2973  ...          48070.82
     2                     366       1099  ...          22813.32
     3                     302        810  ...          12520.19
     4                     263        760  ...          12352.70

                GastoAlimentacion  GastoTransporteInternac  \
Año  Trimestre
2016 4                   65571.42                 25968.32
2017 1                  482500.68                547127.30
     2                  426747.21                521764.20
     3                  473340.99                733211.52
     4                  382051.95                567576.09
2018 1                  319882.00                493857.70
     2                  275331.51                474797.51
     3                  271681.06                515940.17
     4                  235436.29                431237.41
2019 1                  289482.90                520302.94
     2                  264384.78                480136.77
     3                  300172.86                400747.78
     4                  315134.14                379548.73
2020 1                  136654.01                130186.23
     2                   20729.57                 20011.44
     3                   21091.62                 19239.88
     4                   19934.43                 17192.52
2021 3                     564.40                    94.07
     4                   28325.65                 24239.86
2022 1                  223675.12                210814.45
     2                  232343.34                272958.78
     3                  198481.26                227683.69
     4                  311147.43                340708.33
2023 1                   49320.47                 26315.83
     2                   19730.61                 15704.95
     3                   13501.11                  3369.61
     4                   14708.36                 14451.18

                GatoTransporteLocal  GastoCultural  GastoTours  GastoCompras  \
Año  Trimestre
2016 4                     21095.11       17726.64     1119.35      36088.64
2017 1                    205893.72      189057.22     8588.25     410609.20
     2                    177786.59      162151.34     6557.61     427574.99
     3                    193016.91      175641.84     7766.87     408593.34
     4                    165068.29      146153.17    10332.74     329613.55
2018 1                    111773.87       95490.06    11221.88     294176.57
     2                    103502.79       85687.52     6219.69     276539.22
     3                    103444.62       91500.81     3897.50     333121.30
     4                     96785.89       79120.89     3972.88     246555.33
2019 1                    173068.41       95975.94     3668.50     309224.31
     2                    159398.74       90924.60     3355.67     268323.07
     3                    185257.82       84603.83     5269.37     288928.57
     4                    181290.86       95799.34     5988.87     283710.09
2020 1                     71673.09       35264.77     3495.13     100100.29
     2                     12469.68        4541.12      418.71      18172.51
     3                     13118.46        5942.06      695.06      14147.50
     4                     13447.48        4648.64      400.00      10645.36
2021 3                        43.70           0.00        0.00        282.20
     4                      8511.13        4937.66      413.79       9501.41
2022 1                    112888.50       53681.49     7217.94     191561.11
     2                    124392.34       66581.85     3852.42     230371.17
     3                    111273.40       62287.81     3240.57     208812.99
     4                    163911.22       86751.49     7429.60     337704.06
2023 1                     31257.12       16294.26      870.66      50739.40
     2                     11106.06        4910.25      550.00      23367.14
     3                      7038.74        2103.36        0.00      12593.87
     4                      8176.86        2883.97      367.22      12962.44

                GastoResto       Coef    CoefTot
Año  Trimestre
2016 4            71631.85   17873.14   49668.33
2017 1           330986.38  226921.21  454996.13
     2           245850.82  223545.68  431309.33
     3           217170.63  234936.22  474551.54
     4           230029.11  217042.36  428578.82
2018 1           111098.41  218556.49  486060.83
     2           109369.50  218335.24  452160.30
     3           142172.12  242970.06  508514.49
     4           124150.31  233613.16  495645.77
2019 1           128755.00  243375.58  520155.68
     2           149648.31  243014.00  524112.69
     3           152722.34  276699.03  567258.55
     4           156889.20  281435.05  582274.87
2020 1            47548.44  175223.52  362181.93
     2             9296.24   39300.54   76043.63
     3            12204.76   38524.16   74039.26
     4             9445.30   23014.40   48130.71
2021 3               50.36     126.82     126.82
     4             6336.54    9292.53   16682.05
2022 1            83523.52  165699.20  374466.43
     2            83117.38  228333.85  559133.77
     3            68755.92  313622.77  793381.66
     4           126471.01  300851.84  688022.59
2023 1            19995.65   20576.76   20794.29
     2             8398.04    7146.60    7177.30
     3             3438.63    5202.41    5335.88
     4             3953.97    4782.98    4885.90

[27 rows x 27 columns]

<ipython-input-67-8d03da46a4f2>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_por_mes = df.groupby([df['FechaSalida'].dt.year, df['FechaSalida'].dt.month]).sum()
<ipython-input-67-8d03da46a4f2>:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_por_trimestre = df.groupby(['Año', 'Trimestre']).sum()

In [26]:
# Definir los percentiles para clasificar los gastos
percentiles = df['GastoTotal'].quantile([0.25, 0.5, 0.75])

# Función para clasificar los gastos en 'alto', 'medio' o 'bajo'
def clasificar_gasto(gasto):
    if gasto > percentiles[0.75]:
        return 'Alto'
    elif gasto > percentiles[0.25]:
        return 'Medio'
    else:
        return 'Bajo'

# Aplicar la función a la columna 'GastoTotal' para obtener la clasificación
df['ClasificacionGasto'] = df['GastoTotal'].apply(clasificar_gasto)

# Imprimir el DataFrame con la nueva columna de clasificación de gastos
df

,IdLugarSalida,Lugar Salida,IdTranspSalidad,Transporte Internacional de Salida,FechaSalida,IdFecSalida,FechaEntrada,IdFecEntrada,IdNacionalidad,Pais,...,GastoCultural,GastoTours,GastoCompras,GastoResto,Coef,CoefTot,Estacion,Año,Trimestre,ClasificacionGasto
0,4,Chuy,2,Terrestre Auto,2016-12-29,13512,10/1/2017,13524,1,Uruguay,...,0.00,0.00,0.00,0.00,89.61,448.05,Verano,2016,4,Alto
1,18,Río Branco,2,Terrestre Auto,2016-12-29,13512,9/1/2017,13523,1,Uruguay,...,300.00,235.00,210.00,165.00,96.18,480.88,Verano,2016,4,Alto
2,3,Aeropuerto de Carrasco,1,Aereo,2017-03-01,13517,27/1/2017,13541,1,Uruguay,...,523.03,256.29,2039.83,0.00,129.04,258.09,Invierno,2017,1,Alto
3,3,Aeropuerto de Carrasco,1,Aereo,2017-06-01,13520,21/1/2017,13535,1,Uruguay,...,445.68,0.00,311.98,334.26,129.04,387.13,Invierno,2017,2,Alto
4,4,Chuy,2,Terrestre Auto,2017-02-01,13516,25/1/2017,13539,1,Uruguay,...,152.14,0.00,106.50,0.00,89.61,448.05,Invierno,2017,1,Alto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20114,7,Fray Bentos,2,Terrestre Auto,2022-12-27,15701,7/1/2023,15712,1,Uruguay,...,400.00,0.00,250.81,166.40,101.75,101.76,Verano,2022,4,Alto
20115,3,Aeropuerto de Carrasco,1,Aereo,2022-12-25,15699,10/1/2023,15715,1,Uruguay,...,540.88,107.80,754.60,1287.08,247.33,247.58,Invierno,2022,4,Alto
20116,10,Salto,2,Terrestre Auto,2022-12-27,15701,5/1/2023,15710,1,Uruguay,...,200.00,0.00,469.17,1179.10,79.35,78.43,Verano,2022,4,Alto
20117,7,Fray Bentos,2,Terrestre Auto,2022-12-26,15700,30/12/2022,15704,1,Uruguay,...,197.16,0.00,350.00,393.03,79.35,78.43,Verano,2022,4,Alto
20118,8,Paysandú,2,Terrestre Auto,2023-11-01,15716,11/1/2023,15716,1,Uruguay,...,0.00,0.00,88.86,0.00,79.35,78.43,Primavera,2023,4,Bajo

## CRUCES DE INFORMACION

# Preferencias de destino con motivo

In [27]:
preferencias_destino_motivo = df.groupby(['Destino', 'Motivo']).size().reset_index(name='Cantidad')
print(preferencias_destino_motivo)

              Destino                      Motivo  Cantidad
0              Africa                    Estudios         1
1              Africa         Negocios, Profesion         3
2              Africa    Ocio, Recreo, Vacaciones        15
3              Africa  Visita familiares / amigos         3
4           Argentina                     Compras       380
..                ...                         ...       ...
70  Resto Sud America                       Otros         1
71  Resto Sud America  Religion y Peregrinaciones         3
72  Resto Sud America  Visita familiares / amigos        87
73          Sin Datos         Negocios, Profesion         1
74          Sin Datos  Trabajo remunerado Destino        19

[75 rows x 3 columns]

In [28]:
preferencias_destino_motivo.head(60)

                     Destino                      Motivo  Cantidad
0                     Africa                    Estudios         1
1                     Africa         Negocios, Profesion         3
2                     Africa    Ocio, Recreo, Vacaciones        15
3                     Africa  Visita familiares / amigos         3
4                  Argentina                     Compras       380
5                  Argentina                   Deportivo        77
6                  Argentina                    Estudios        87
7                  Argentina         Negocios, Profesion      1639
8                  Argentina    Ocio, Recreo, Vacaciones      5134
9                  Argentina                       Otros       105
10                 Argentina  Religion y Peregrinaciones       117
11                 Argentina           Tratamiento Salud       158
12                 Argentina  Visita familiares / amigos      5128
13           Asia Meridional    Ocio, Recreo, Vacaciones         1
14           Asia Meridional  Visita familiares / amigos         1
15  Asia del Este y Pacifico                    Estudios         1
16  Asia del Este y Pacifico         Negocios, Profesion        53
17  Asia del Este y Pacifico    Ocio, Recreo, Vacaciones        14
18  Asia del Este y Pacifico  Visita familiares / amigos         1
19                    Brasil                     Compras        11
20                    Brasil                   Deportivo        34
21                    Brasil                    Estudios        26
22                    Brasil         Negocios, Profesion       388
23                    Brasil    Ocio, Recreo, Vacaciones      2433
24                    Brasil                       Otros        30
25                    Brasil  Religion y Peregrinaciones        13
26                    Brasil           Tratamiento Salud        21
27                    Brasil  Visita familiares / amigos      1028
28    Centro y Norte America                     Compras         5
29    Centro y Norte America                   Deportivo         2
30    Centro y Norte America                    Estudios        27
31    Centro y Norte America         Negocios, Profesion       126
32    Centro y Norte America    Ocio, Recreo, Vacaciones       782
33    Centro y Norte America                       Otros         3
34    Centro y Norte America           Tratamiento Salud         1
35    Centro y Norte America  Visita familiares / amigos       237
36                     Chile                     Compras         3
37                     Chile                   Deportivo         1
38                     Chile                    Estudios        11
39                     Chile         Negocios, Profesion        64
40                     Chile    Ocio, Recreo, Vacaciones       151
41                     Chile                       Otros         1
42                     Chile  Religion y Peregrinaciones         1
43                     Chile           Tratamiento Salud         3
44                     Chile  Visita familiares / amigos       133
45                    Europa                   Deportivo         7
46                    Europa                    Estudios        39
47                    Europa         Negocios, Profesion        50
48                    Europa    Ocio, Recreo, Vacaciones       503
49                    Europa  Religion y Peregrinaciones         1
50                    Europa           Tratamiento Salud         2
51                    Europa  Visita familiares / amigos       224
52             Oriente Medio         Negocios, Profesion        23
53             Oriente Medio    Ocio, Recreo, Vacaciones         4
54             Oriente Medio  Religion y Peregrinaciones         1
55             Oriente Medio  Visita familiares / amigos         1
56                     Otros    Ocio, Recreo, Vacaciones         2
57                     Otros                       Otros         1
58                  Paraguay                     Compras         1
59                  Paraguay                   Deportivo         2

In [29]:
# Ordenar el DataFrame por la columna de cantidad de cruces en orden descendente
preferencias_destino_motivo_ordenado = preferencias_destino_motivo.sort_values(by='Cantidad', ascending=False)

# Obtener los 20 destinos con las mayores cantidades de cruces
top_20_destinos_prefmoti = preferencias_destino_motivo_ordenado.nlargest(20, 'Cantidad')

# Imprimir el resultado
print(top_20_destinos_prefmoti)

                   Destino                      Motivo  Cantidad
8                Argentina    Ocio, Recreo, Vacaciones      5134
12               Argentina  Visita familiares / amigos      5128
23                  Brasil    Ocio, Recreo, Vacaciones      2433
7                Argentina         Negocios, Profesion      1639
27                  Brasil  Visita familiares / amigos      1028
32  Centro y Norte America    Ocio, Recreo, Vacaciones       782
48                  Europa    Ocio, Recreo, Vacaciones       503
22                  Brasil         Negocios, Profesion       388
4                Argentina                     Compras       380
35  Centro y Norte America  Visita familiares / amigos       237
51                  Europa  Visita familiares / amigos       224
69       Resto Sud America    Ocio, Recreo, Vacaciones       192
11               Argentina           Tratamiento Salud       158
61                Paraguay    Ocio, Recreo, Vacaciones       153
40                   Chile    Ocio, Recreo, Vacaciones       151
65                Paraguay  Visita familiares / amigos       140
44                   Chile  Visita familiares / amigos       133
31  Centro y Norte America         Negocios, Profesion       126
60                Paraguay         Negocios, Profesion       120
10               Argentina  Religion y Peregrinaciones       117

# PREFERENCIAS DE DESTINO EN BASE AL PRESUPUESTO

In [30]:
presupuesto_destinos_visitados = df.groupby(['GastoTotal', 'Destino']).size().reset_index(name='Cantidad')
print(presupuesto_destinos_visitados)

       GastoTotal                 Destino  Cantidad
0            0.00               Argentina       174
1            0.00                  Brasil        14
2            0.00  Centro y Norte America         4
3            0.00                   Chile         3
4            0.00                  Europa         4
...           ...                     ...       ...
10035    17646.00  Centro y Norte America         1
10036    18000.00                  Europa         1
10037    24510.00  Centro y Norte America         1
10038    25925.26               Argentina         1
10039    76389.18                  Europa         1

[10040 rows x 3 columns]

In [31]:
# Ordenar el DataFrame por la columna de cantidad de cruces en orden descendente
presupuesto_destinos_visitados_ordenado = presupuesto_destinos_visitados.sort_values(by='Cantidad', ascending=False)

# Obtener los 20 destinos con las mayores cantidades de cruces
top_20_destinos_destvist = presupuesto_destinos_visitados_ordenado.nlargest(20, 'Cantidad')

# Imprimir el resultado
print(top_20_destinos_destvist)

      GastoTotal    Destino  Cantidad
3919       600.0  Argentina       363
3426       500.0  Argentina       328
2863       400.0  Argentina       317
2206       300.0  Argentina       302
4815       800.0  Argentina       299
5502      1000.0  Argentina       296
4396       700.0  Argentina       205
1341       200.0  Argentina       193
6133      1200.0  Argentina       192
0            0.0  Argentina       174
7887      2000.0     Brasil       144
6894      1500.0  Argentina       125
1828       250.0  Argentina       120
6896      1500.0     Brasil       118
2538       350.0  Argentina       109
5503      1000.0     Brasil       107
7885      2000.0  Argentina       100
6657      1400.0  Argentina        99
7148      1600.0  Argentina        87
6134      1200.0     Brasil        83

#CRUCE DE DESTINO EN BASE A LA ESTACION DEL AÑO

In [32]:
preferencias_estacion_destino = df.groupby(['Estacion', 'Destino']).size().reset_index(name='Cantidad')
print(preferencias_estacion_destino)

     Estacion                   Destino  Cantidad
0    Invierno                 Argentina      9059
1    Invierno  Asia del Este y Pacifico        67
2    Invierno                    Brasil      2903
3    Invierno    Centro y Norte America       267
4    Invierno                     Chile       258
5    Invierno                    Europa       269
6    Invierno                  Paraguay       300
7    Invierno         Resto Sud America       259
8       Otoño    Centro y Norte America       279
9       Otoño                    Europa       193
10  Primavera                 Argentina      3246
11  Primavera                    Brasil       904
12  Primavera    Centro y Norte America       299
13  Primavera                     Chile        94
14  Primavera                    Europa       175
15  Primavera                  Paraguay       109
16  Primavera         Resto Sud America        92
17     Verano                 Argentina       520
18     Verano  Asia del Este y Pacifico         2
19     Verano                    Brasil       177
20     Verano    Centro y Norte America       338
21     Verano                     Chile        16
22     Verano                    Europa       189
23     Verano                  Paraguay        15
24     Verano         Resto Sud America        13

In [33]:
# Ordenar el DataFrame por la columna de cantidad de cruces en orden descendente
preferencias_estacion_destino_ordenado = preferencias_estacion_destino.sort_values(by='Cantidad', ascending=False)

# Imprimir el DataFrame ordenado de mayor a menor
print(preferencias_estacion_destino_ordenado)

     Estacion                   Destino  Cantidad
0    Invierno                 Argentina      9059
10  Primavera                 Argentina      3246
2    Invierno                    Brasil      2903
11  Primavera                    Brasil       904
17     Verano                 Argentina       520
20     Verano    Centro y Norte America       338
6    Invierno                  Paraguay       300
12  Primavera    Centro y Norte America       299
8       Otoño    Centro y Norte America       279
5    Invierno                    Europa       269
3    Invierno    Centro y Norte America       267
7    Invierno         Resto Sud America       259
4    Invierno                     Chile       258
9       Otoño                    Europa       193
22     Verano                    Europa       189
19     Verano                    Brasil       177
14  Primavera                    Europa       175
15  Primavera                  Paraguay       109
13  Primavera                     Chile        94
16  Primavera         Resto Sud America        92
1    Invierno  Asia del Este y Pacifico        67
21     Verano                     Chile        16
23     Verano                  Paraguay        15
24     Verano         Resto Sud America        13
18     Verano  Asia del Este y Pacifico         2

# CRUCE DE ALOJAMIENTO CON RESPECTO AL DESTINO

In [34]:
preferencias_alojamiento_destino = df.groupby(['Alojamiento', 'Destino']).size().reset_index(name='Cantidad')
print(preferencias_alojamiento_destino)

        Alojamiento                 Destino  Cantidad
0      Appart Hotel               Argentina       211
1      Appart Hotel                  Brasil       228
2      Appart Hotel  Centro y Norte America         9
3      Appart Hotel                   Chile         8
4      Appart Hotel                  Europa         4
..              ...                     ...       ...
73  Vivienda Propia                  Brasil        28
74  Vivienda Propia  Centro y Norte America         2
75  Vivienda Propia                   Chile         1
76  Vivienda Propia                  Europa         3
77  Vivienda Propia                Paraguay        13

[78 rows x 3 columns]

In [35]:
# Ordenar el DataFrame por la columna de cantidad de cruces en orden descendente
preferencias_alojamiento_destino_ordenado = preferencias_alojamiento_destino.sort_values(by='Cantidad', ascending=False)

# Obtener los 20 destinos con las mayores cantidades de cruces
top_20_destinos_alojdest = preferencias_alojamiento_destino_ordenado.nlargest(20, 'Cantidad')

# Imprimir el resultado
print(top_20_destinos_alojdest)

                     Alojamiento                 Destino  Cantidad
62  Vivienda Familiares / Amigos               Argentina      5770
30                         Hotel               Argentina      5713
33                         Hotel                  Brasil      1803
65  Vivienda Familiares / Amigos                  Brasil      1192
34                         Hotel  Centro y Norte America       721
55            Vivienda Arrendada                  Brasil       520
54            Vivienda Arrendada               Argentina       498
36                         Hotel                  Europa       420
42                         Otros               Argentina       361
66  Vivienda Familiares / Amigos  Centro y Norte America       359
68  Vivienda Familiares / Amigos                  Europa       349
1                   Appart Hotel                  Brasil       228
40                         Hotel       Resto Sud America       225
39                         Hotel                Paraguay       223
0                   Appart Hotel               Argentina       211
35                         Hotel                   Chile       185
70  Vivienda Familiares / Amigos                Paraguay       162
12            Cabañas, Bungalows               Argentina       155
67  Vivienda Familiares / Amigos                   Chile       148
13            Cabañas, Bungalows                  Brasil       126

# CRUCE DE RESIDENCIA CON EL DESTINO

In [36]:
preferencias_pais_destino = df.groupby(['Pais', 'Destino']).size().reset_index(name='Cantidad')
print(preferencias_pais_destino)

                 Pais                   Destino  Cantidad
0           Argentina                 Argentina       315
1           Argentina                    Brasil         6
2           Argentina    Centro y Norte America         1
3           Argentina                     Chile         1
4           Argentina                    Europa         1
5           Argentina                  Paraguay         1
6           Argentina         Resto Sud America         1
7           Argentina                 Sin Datos         1
8             Bolivia                 Argentina         1
9              Brasil                 Argentina         6
10             Brasil                    Brasil        50
11              Chile                 Argentina         4
12              Chile                     Chile        13
13           Colombia                 Argentina         2
14           Colombia    Centro y Norte America         4
15               Cuba    Centro y Norte America         1
16             EE.UU.    Centro y Norte America         2
17            Ecuador                 Argentina         1
18             España                 Argentina        14
19             España                    Europa        11
20             España         Resto Sud America         1
21            Francia                    Brasil         2
22            Francia    Centro y Norte America         1
23            Francia                    Europa         1
24       Gran Bretaña                    Europa         1
25             Italia                 Argentina         6
26             Italia                    Europa         2
27             Mexico                 Argentina         1
28    Otro de America                 Argentina         2
29    Otro de America    Centro y Norte America         7
30     Otro de Europa                 Argentina         1
31     Otro de Europa                    Europa         1
32  Otro pais de Asia                    Brasil         1
33           Paraguay                 Argentina         3
34           Paraguay                  Paraguay        13
35               Peru                 Argentina         1
36               Peru                    Brasil         1
37            Uruguay                    Africa        22
38            Uruguay                 Argentina     12461
39            Uruguay           Asia Meridional         2
40            Uruguay  Asia del Este y Pacifico        69
41            Uruguay                    Brasil      3924
42            Uruguay    Centro y Norte America      1167
43            Uruguay                     Chile       354
44            Uruguay                    Europa       809
45            Uruguay             Oriente Medio        29
46            Uruguay                     Otros         3
47            Uruguay                  Paraguay       410
48            Uruguay         Resto Sud America       362
49            Uruguay                 Sin Datos        19
50          Venezuela                 Argentina         7

In [37]:
# Ordenar el DataFrame por la columna de cantidad de cruces en orden descendente
preferencias_pais_destino_ordenado = preferencias_pais_destino.sort_values(by='Cantidad', ascending=False)

# Imprimir el DataFrame ordenado de mayor a menor
print(preferencias_pais_destino_ordenado)

                 Pais                   Destino  Cantidad
38            Uruguay                 Argentina     12461
41            Uruguay                    Brasil      3924
42            Uruguay    Centro y Norte America      1167
44            Uruguay                    Europa       809
47            Uruguay                  Paraguay       410
48            Uruguay         Resto Sud America       362
43            Uruguay                     Chile       354
0           Argentina                 Argentina       315
40            Uruguay  Asia del Este y Pacifico        69
10             Brasil                    Brasil        50
45            Uruguay             Oriente Medio        29
37            Uruguay                    Africa        22
49            Uruguay                 Sin Datos        19
18             España                 Argentina        14
12              Chile                     Chile        13
34           Paraguay                  Paraguay        13
19             España                    Europa        11
29    Otro de America    Centro y Norte America         7
50          Venezuela                 Argentina         7
25             Italia                 Argentina         6
9              Brasil                 Argentina         6
1           Argentina                    Brasil         6
14           Colombia    Centro y Norte America         4
11              Chile                 Argentina         4
33           Paraguay                 Argentina         3
46            Uruguay                     Otros         3
28    Otro de America                 Argentina         2
39            Uruguay           Asia Meridional         2
16             EE.UU.    Centro y Norte America         2
26             Italia                    Europa         2
21            Francia                    Brasil         2
13           Colombia                 Argentina         2
5           Argentina                  Paraguay         1
6           Argentina         Resto Sud America         1
7           Argentina                 Sin Datos         1
4           Argentina                    Europa         1
8             Bolivia                 Argentina         1
3           Argentina                     Chile         1
2           Argentina    Centro y Norte America         1
17            Ecuador                 Argentina         1
36               Peru                    Brasil         1
20             España         Resto Sud America         1
15               Cuba    Centro y Norte America         1
32  Otro pais de Asia                    Brasil         1
31     Otro de Europa                    Europa         1
30     Otro de Europa                 Argentina         1
27             Mexico                 Argentina         1
24       Gran Bretaña                    Europa         1
23            Francia                    Europa         1
22            Francia    Centro y Norte America         1
35               Peru                 Argentina         1

#CRUCE DE MOTIVO DEL VIAJE CON CLASIFICACION DE GASTOS

In [38]:
gastos_por_motivo = df.groupby(['Motivo', 'ClasificacionGasto']).size().reset_index(name='Cantidad')
print(gastos_por_motivo)

                        Motivo ClasificacionGasto  Cantidad
0                      Compras               Alto        26
1                      Compras               Bajo       183
2                      Compras              Medio       191
3                    Deportivo               Alto        22
4                    Deportivo               Bajo        46
5                    Deportivo              Medio        62
6                     Estudios               Alto        66
7                     Estudios               Bajo        48
8                     Estudios              Medio        86
9          Negocios, Profesion               Alto       289
10         Negocios, Profesion               Bajo      1007
11         Negocios, Profesion              Medio      1237
12    Ocio, Recreo, Vacaciones               Alto      3789
13    Ocio, Recreo, Vacaciones               Bajo       581
14    Ocio, Recreo, Vacaciones              Medio      5014
15                       Otros               Alto        35
16                       Otros               Bajo        73
17                       Otros              Medio        39
18  Religion y Peregrinaciones               Alto         9
19  Religion y Peregrinaciones               Bajo        96
20  Religion y Peregrinaciones              Medio        32
21  Trabajo remunerado Destino               Bajo        19
22           Tratamiento Salud               Alto        26
23           Tratamiento Salud               Bajo        52
24           Tratamiento Salud              Medio       108
25  Visita familiares / amigos               Alto       711
26  Visita familiares / amigos               Bajo      2986
27  Visita familiares / amigos              Medio      3286

In [39]:
# Ordenar el DataFrame por la columna de cantidad de cruces en orden descendente
gastos_por_motivo_ordenado = gastos_por_motivo.sort_values(by='Cantidad', ascending=False)

# Imprimir el DataFrame ordenado de mayor a menor
print(gastos_por_motivo_ordenado)

                        Motivo ClasificacionGasto  Cantidad
14    Ocio, Recreo, Vacaciones              Medio      5014
12    Ocio, Recreo, Vacaciones               Alto      3789
27  Visita familiares / amigos              Medio      3286
26  Visita familiares / amigos               Bajo      2986
11         Negocios, Profesion              Medio      1237
10         Negocios, Profesion               Bajo      1007
25  Visita familiares / amigos               Alto       711
13    Ocio, Recreo, Vacaciones               Bajo       581
9          Negocios, Profesion               Alto       289
2                      Compras              Medio       191
1                      Compras               Bajo       183
24           Tratamiento Salud              Medio       108
19  Religion y Peregrinaciones               Bajo        96
8                     Estudios              Medio        86
16                       Otros               Bajo        73
6                     Estudios               Alto        66
5                    Deportivo              Medio        62
23           Tratamiento Salud               Bajo        52
7                     Estudios               Bajo        48
4                    Deportivo               Bajo        46
17                       Otros              Medio        39
15                       Otros               Alto        35
20  Religion y Peregrinaciones              Medio        32
0                      Compras               Alto        26
22           Tratamiento Salud               Alto        26
3                    Deportivo               Alto        22
21  Trabajo remunerado Destino               Bajo        19
18  Religion y Peregrinaciones               Alto         9

In [40]:
# Calcula el total de la columna "Cantidad"
total_cantidad_gastos_por_motivo_ordenado = gastos_por_motivo_ordenado['Cantidad'].sum()

# Calcula los porcentajes y crea una nueva columna "Porcentaje"
gastos_por_motivo_ordenado['Porcentaje'] = (gastos_por_motivo_ordenado['Cantidad'] / total_cantidad_gastos_por_motivo_ordenado) * 100

# Imprime el DataFrame con los porcentajes
print(gastos_por_motivo_ordenado)

                        Motivo ClasificacionGasto  Cantidad  Porcentaje
14    Ocio, Recreo, Vacaciones              Medio      5014   24.921716
12    Ocio, Recreo, Vacaciones               Alto      3789   18.832944
27  Visita familiares / amigos              Medio      3286   16.332820
26  Visita familiares / amigos               Bajo      2986   14.841692
11         Negocios, Profesion              Medio      1237    6.148417
10         Negocios, Profesion               Bajo      1007    5.005219
25  Visita familiares / amigos               Alto       711    3.533973
13    Ocio, Recreo, Vacaciones               Bajo       581    2.887817
9          Negocios, Profesion               Alto       289    1.436453
2                      Compras              Medio       191    0.949351
1                      Compras               Bajo       183    0.909588
24           Tratamiento Salud              Medio       108    0.536806
19  Religion y Peregrinaciones               Bajo        96    0.477161
8                     Estudios              Medio        86    0.427457
16                       Otros               Bajo        73    0.362841
6                     Estudios               Alto        66    0.328048
5                    Deportivo              Medio        62    0.308166
23           Tratamiento Salud               Bajo        52    0.258462
7                     Estudios               Bajo        48    0.238580
4                    Deportivo               Bajo        46    0.228640
17                       Otros              Medio        39    0.193847
15                       Otros               Alto        35    0.173965
20  Religion y Peregrinaciones              Medio        32    0.159054
0                      Compras               Alto        26    0.129231
22           Tratamiento Salud               Alto        26    0.129231
3                    Deportivo               Alto        22    0.109349
21  Trabajo remunerado Destino               Bajo        19    0.094438
18  Religion y Peregrinaciones               Alto         9    0.044734

In [41]:
gastos_por_motivo_ordenado

                        Motivo ClasificacionGasto  Cantidad  Porcentaje
14    Ocio, Recreo, Vacaciones              Medio      5014   24.921716
12    Ocio, Recreo, Vacaciones               Alto      3789   18.832944
27  Visita familiares / amigos              Medio      3286   16.332820
26  Visita familiares / amigos               Bajo      2986   14.841692
11         Negocios, Profesion              Medio      1237    6.148417
10         Negocios, Profesion               Bajo      1007    5.005219
25  Visita familiares / amigos               Alto       711    3.533973
13    Ocio, Recreo, Vacaciones               Bajo       581    2.887817
9          Negocios, Profesion               Alto       289    1.436453
2                      Compras              Medio       191    0.949351
1                      Compras               Bajo       183    0.909588
24           Tratamiento Salud              Medio       108    0.536806
19  Religion y Peregrinaciones               Bajo        96    0.477161
8                     Estudios              Medio        86    0.427457
16                       Otros               Bajo        73    0.362841
6                     Estudios               Alto        66    0.328048
5                    Deportivo              Medio        62    0.308166
23           Tratamiento Salud               Bajo        52    0.258462
7                     Estudios               Bajo        48    0.238580
4                    Deportivo               Bajo        46    0.228640
17                       Otros              Medio        39    0.193847
15                       Otros               Alto        35    0.173965
20  Religion y Peregrinaciones              Medio        32    0.159054
0                      Compras               Alto        26    0.129231
22           Tratamiento Salud               Alto        26    0.129231
3                    Deportivo               Alto        22    0.109349
21  Trabajo remunerado Destino               Bajo        19    0.094438
18  Religion y Peregrinaciones               Alto         9    0.044734

In [42]:
# PASOS A SEGUIR

# DEFINIR LAS METRICAS

#Crear perfiles de usuarios:

#Implementar el algoritmo de recomendación:

#EVALUAR EL RENDIMIENTO DEL MODELO

UTILIZAREMOS SOLO LAS VARIABLES QUE CONSIDERAMOS IMPORTANTES

In [51]:
columns_to_keep = ['Lugar Salida', 'Transporte Internacional de Salida', 'FechaSalida',
                   'FechaEntrada', 'Pais', 'Departamento', 'Motivo', 'Ocupacion', 'Estudio',
                   'Destino', 'Alojamiento', 'Lugar Ingreso',
                   'Transporte Internacional de Ingreso', 'Trasporte Local', 'Estadia',
                   'Gente', 'GastoTotal', 'Estacion', 'Año', 'Trimestre', 'ClasificacionGasto']

df_modificado = df[columns_to_keep].copy()

In [52]:
df_modificado

,Lugar Salida,Transporte Internacional de Salida,FechaSalida,FechaEntrada,Pais,Departamento,Motivo,Ocupacion,Estudio,Destino,...,Lugar Ingreso,Transporte Internacional de Ingreso,Trasporte Local,Estadia,Gente,GastoTotal,Estacion,Año,Trimestre,ClasificacionGasto
0,Chuy,Terrestre Auto,2016-12-29,10/1/2017,Uruguay,Montevideo,"Ocio, Recreo, Vacaciones","Obrero esp, Conductor, Artesano",Secundaria completa,Brasil,...,Chuy,Terrestre Auto,Sin Datos,12,5,1507.12,Verano,2016,4,Alto
1,Río Branco,Terrestre Auto,2016-12-29,9/1/2017,Uruguay,Maldonado,"Ocio, Recreo, Vacaciones",Estudiante,Terciaria incompleta,Brasil,...,Río Branco,Terrestre Auto,Sin Datos,11,5,3275.00,Verano,2016,4,Alto
2,Aeropuerto de Carrasco,Aereo,2017-03-01,27/1/2017,Uruguay,Canelones,"Ocio, Recreo, Vacaciones","Patron, Com, Ind, Prod Agrop",Secundaria completa,Europa,...,Aeropuerto de Carrasco,Aereo,Sin Datos,24,2,4785.75,Invierno,2017,1,Alto
3,Aeropuerto de Carrasco,Aereo,2017-06-01,21/1/2017,Uruguay,Montevideo,"Ocio, Recreo, Vacaciones","Empl. Adm, Cajero, Vendedor",Terciaria incompleta,Brasil,...,Aeropuerto de Carrasco,Aereo,Sin Datos,15,3,5883.00,Invierno,2017,2,Alto
4,Chuy,Terrestre Auto,2017-02-01,25/1/2017,Uruguay,Canelones,"Ocio, Recreo, Vacaciones","Patron, Com, Ind, Prod Agrop",Terciaria completa,Brasil,...,Chuy,Terrestre Auto,Sin Datos,23,5,3400.00,Invierno,2017,1,Alto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20114,Fray Bentos,Terrestre Auto,2022-12-27,7/1/2023,Uruguay,Montevideo,Visita familiares / amigos,"Patron, Com, Ind, Prod Agrop",Terciaria incompleta,Chile,...,Fray Bentos,Terrestre Auto,Auto propio,11,2,2200.00,Verano,2022,4,Alto
20115,Aeropuerto de Carrasco,Aereo,2022-12-25,10/1/2023,Uruguay,Treinta y Tres,Visita familiares / amigos,"Jubilado, Pensionista",Terciaria completa,Europa,...,Aeropuerto de Carrasco,Aereo,Auto familiares / amigos,16,2,5000.00,Invierno,2022,4,Alto
20116,Salto,Terrestre Auto,2022-12-27,5/1/2023,Uruguay,Saqn Jose,"Ocio, Recreo, Vacaciones","Patron, Com, Ind, Prod Agrop",Terciaria incompleta,Argentina,...,Salto,Terrestre Auto,Auto propio,9,4,3840.49,Verano,2022,4,Alto
20117,Fray Bentos,Terrestre Auto,2022-12-26,30/12/2022,Uruguay,Soriano,Visita familiares / amigos,"Prof, Tecnico, Docente, Artista",Otros,Argentina,...,Fray Bentos,Terrestre Auto,Auto propio,4,3,1504.02,Verano,2022,4,Alto
20118,Paysandú,Terrestre Auto,2023-11-01,11/1/2023,Uruguay,Paysandu,Compras,"Empl. Adm, Cajero, Vendedor",Secundaria completa,Argentina,...,Paysandú,Terrestre Auto,Auto propio,1,1,101.56,Primavera,2023,4,Bajo

In [56]:
print(df_modificado.columns)

Index(['Lugar Salida', 'Transporte Internacional de Salida', 'FechaSalida',
       'FechaEntrada', 'Pais', 'Departamento', 'Motivo', 'Ocupacion',
       'Estudio', 'Destino', 'Alojamiento', 'Lugar Ingreso',
       'Transporte Internacional de Ingreso', 'Trasporte Local', 'Estadia',
       'Gente', 'GastoTotal', 'Estacion', 'Año', 'Trimestre',
       'ClasificacionGasto'],
      dtype='object')

In [55]:
import pandas as pd

# Aplicar One-Hot Encoding a la columna "Destino"
df_encoded2 = pd.get_dummies(df_modificado, columns=['Destino'], prefix='Destino')

# Imprimir las primeras filas del DataFrame codificado
print(df_encoded2.head(13))

              Lugar Salida Transporte Internacional de Salida FechaSalida  \
0                     Chuy                     Terrestre Auto  2016-12-29
1               Río Branco                     Terrestre Auto  2016-12-29
2   Aeropuerto de Carrasco                              Aereo  2017-03-01
3   Aeropuerto de Carrasco                              Aereo  2017-06-01
4                     Chuy                     Terrestre Auto  2017-02-01
5               Río Branco                     Terrestre Auto  2016-12-30
6              Fray Bentos                      Terrestre Bus  2016-12-30
7              Bella Unión                     Terrestre Auto  2017-05-01
8                     Chuy                     Terrestre Auto  2016-12-30
9                     Chuy                      Terrestre Bus  2016-12-18
10              Río Branco                     Terrestre Auto  2017-10-01
11             Fray Bentos                      Terrestre Bus  2017-01-19
12                 Colonia                 Maritimo - Fluvial  2017-06-01

   FechaEntrada     Pais Departamento                      Motivo  \
0     10/1/2017  Uruguay   Montevideo    Ocio, Recreo, Vacaciones
1      9/1/2017  Uruguay    Maldonado    Ocio, Recreo, Vacaciones
2     27/1/2017  Uruguay    Canelones    Ocio, Recreo, Vacaciones
3     21/1/2017  Uruguay   Montevideo    Ocio, Recreo, Vacaciones
4     25/1/2017  Uruguay    Canelones    Ocio, Recreo, Vacaciones
5      9/1/2017  Uruguay   Montevideo    Ocio, Recreo, Vacaciones
6      3/1/2017  Uruguay   Montevideo  Visita familiares / amigos
7     11/1/2017  Uruguay        Salto    Ocio, Recreo, Vacaciones
8      9/1/2017  Uruguay   Montevideo    Ocio, Recreo, Vacaciones
9      7/1/2017  Uruguay   Montevideo  Visita familiares / amigos
10    16/1/2017  Uruguay    Lavalleja    Ocio, Recreo, Vacaciones
11    25/1/2017  Uruguay    Saqn Jose  Visita familiares / amigos
12     9/1/2017  Uruguay   Montevideo    Ocio, Recreo, Vacaciones

                                            Ocupacion               Estudio  \
0                     Obrero esp, Conductor, Artesano   Secundaria completa
1                                          Estudiante  Terciaria incompleta
2                        Patron, Com, Ind, Prod Agrop   Secundaria completa
3                         Empl. Adm, Cajero, Vendedor  Terciaria incompleta
4                        Patron, Com, Ind, Prod Agrop    Terciaria completa
5                            Jefe, Capataz, Encargado  Terciaria incompleta
6                         Empl. Adm, Cajero, Vendedor  Terciaria incompleta
7                     Obrero esp, Conductor, Artesano   Secundaria completa
8                         Empl. Adm, Cajero, Vendedor  Terciaria incompleta
9                         Empl. Adm, Cajero, Vendedor   Secundaria completa
10                       Patron, Com, Ind, Prod Agrop  Terciaria incompleta
11  Militar, policia, Aduanero, Insp, bombero, Mar...   Secundaria completa
12                       Patron, Com, Ind, Prod Agrop   Secundaria completa

                     Alojamiento  ... Destino_Asia del Este y Pacifico  \
0             Vivienda Arrendada  ...                                0
1                          Hotel  ...                                0
2   Vivienda Familiares / Amigos  ...                                0
3                   Appart Hotel  ...                                0
4             Vivienda Arrendada  ...                                0
5                          Hotel  ...                                0
6   Vivienda Familiares / Amigos  ...                                0
7                          Hotel  ...                                0
8                          Hotel  ...                                0
9   Vivienda Familiares / Amigos  ...                                0
10            Vivienda Arrendada  ...                                0
11  Vivienda Familiares / Amigos  ...                                0
12                         Hotel  ...                                0

   Destino_Brasil Destino_Centro y Norte America  Destino_Chile  \
0               1                              0              0
1               1                              0              0
2               0                              0              0
3               1                              0              0
4               1                              0              0
5               1                              0              0
6               0                              0              0
7               0                              0              0
8               1                              0              0
9               1                              0              0
10              1                              0              0
11              0                              0              0
12              0                              0              0

    Destino_Europa  Destino_Oriente Medio Destino_Otros  Destino_Paraguay  \
0                0                      0             0                 0
1                0                      0             0                 0
2                1                      0             0                 0
3                0                      0             0                 0
4                0                      0             0                 0
5                0                      0             0                 0
6                0                      0             0                 0
7                0                      0             0                 0
8                0                      0             0                 0
9                0                      0             0                 0
10               0                      0             0                 0
11               0                      0             0                 0
12               0                      0             0                 0

    Destino_Resto Sud America Destino_Sin Datos
0                           0                 0
1                           0                 0
2                           0                 0
3                           0                 0
4                           0                 0
5                           0                 0
6                           0                 0
7                           0                 0
8                           0                 0
9                           0                 0
10                          0                 0
11                          0                 0
12                          0                 0

[13 rows x 33 columns]

VEMOS QUE FUNCIONA EL ONE HOT EN UNA VARIABLE Y LA APLICAMOS AL DATA FRAME QUE CREAMOS SOLO CON LAS VARIABLES QUE CONSIDERAMOS IMPORTANTES

In [60]:
categorical_columns = ['Lugar Salida', 'Transporte Internacional de Salida', 'FechaSalida',
                       'FechaEntrada', 'Pais', 'Departamento', 'Motivo', 'Ocupacion',
                       'Estudio', 'Destino', 'Alojamiento', 'Lugar Ingreso',
                       'Transporte Internacional de Ingreso', 'Trasporte Local', 'Estadia',
                       'Estacion', 'Año', 'Trimestre', 'ClasificacionGasto']

df_encoded3 = pd.get_dummies(df, columns=categorical_columns, prefix=categorical_columns)

In [61]:
df_encoded3

,IdLugarSalida,IdTranspSalidad,IdFecSalida,IdFecEntrada,IdNacionalidad,IdDeptoResidencia,IdMotivo,IdOcupacion,IdNivelEstudio,IdDestino,...,Año_2021,Año_2022,Año_2023,Trimestre_1,Trimestre_2,Trimestre_3,Trimestre_4,ClasificacionGasto_Alto,ClasificacionGasto_Bajo,ClasificacionGasto_Medio
0,4,2,13512,13524,1,21,1,15,4,20,...,0,0,0,0,0,0,1,1,0,0
1,18,2,13512,13523,1,31,1,3,5,20,...,0,0,0,0,0,0,1,1,0,0
2,3,1,13517,13541,1,20,1,11,4,40,...,0,0,0,1,0,0,0,1,0,0
3,3,1,13520,13535,1,21,1,16,5,20,...,0,0,0,0,1,0,0,1,0,0
4,4,2,13516,13539,1,20,1,11,6,20,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20114,7,2,15701,15712,1,21,2,11,5,31,...,0,1,0,0,0,0,1,1,0,0
20115,3,1,15699,15715,1,54,2,1,6,40,...,0,1,0,0,0,0,1,1,0,0
20116,10,2,15701,15710,1,11,1,11,5,10,...,0,1,0,0,0,0,1,1,0,0
20117,7,2,15700,15704,1,13,2,13,7,10,...,0,1,0,0,0,0,1,1,0,0
20118,8,2,15716,15716,1,61,10,16,4,10,...,0,0,1,0,0,0,1,0,1,0

In [62]:
print(df_encoded3.head(13))

    IdLugarSalida  IdTranspSalidad  IdFecSalida  IdFecEntrada  IdNacionalidad  \
0               4                2        13512         13524               1
1              18                2        13512         13523               1
2               3                1        13517         13541               1
3               3                1        13520         13535               1
4               4                2        13516         13539               1
5              18                2        13513         13523               1
6               7                3        13513         13517               1
7              16                2        13519         13525               1
8               4                2        13513         13523               1
9               4                3        13501         13521               1
10             18                2        13524         13530               1
11              7                3        13533         13539               1
12              1                5        13520         13523               1

    IdDeptoResidencia  IdMotivo  IdOcupacion  IdNivelEstudio  IdDestino  ...  \
0                  21         1           15               4         20  ...
1                  31         1            3               5         20  ...
2                  20         1           11               4         40  ...
3                  21         1           16               5         20  ...
4                  20         1           11               6         20  ...
5                  21         1           14               5         20  ...
6                  21         2           16               5         10  ...
7                  60         1           15               4         10  ...
8                  21         1           16               5         20  ...
9                  21         2           16               4         20  ...
10                 30         1           11               5         20  ...
11                 11         2           21               4         10  ...
12                 21         1           11               4         10  ...

    Año_2021  Año_2022  Año_2023  Trimestre_1  Trimestre_2  Trimestre_3  \
0          0         0         0            0            0            0
1          0         0         0            0            0            0
2          0         0         0            1            0            0
3          0         0         0            0            1            0
4          0         0         0            1            0            0
5          0         0         0            0            0            0
6          0         0         0            0            0            0
7          0         0         0            0            1            0
8          0         0         0            0            0            0
9          0         0         0            0            0            0
10         0         0         0            0            0            0
11         0         0         0            1            0            0
12         0         0         0            0            1            0

    Trimestre_4  ClasificacionGasto_Alto  ClasificacionGasto_Bajo  \
0             1                        1                        0
1             1                        1                        0
2             0                        1                        0
3             0                        1                        0
4             0                        1                        0
5             1                        1                        0
6             1                        1                        0
7             0                        1                        0
8             1                        1                        0
9             1                        0                        0
10            1                        1                        0
11            0                        0                        0
12            0                        0                        0

    ClasificacionGasto_Medio
0                          0
1                          0
2                          0
3                          0
4                          0
5                          0
6                          0
7                          0
8                          0
9                          1
10                         0
11                         1
12                         1

[13 rows x 3258 columns]

In [64]:
print(df_encoded3.shape)

(20119, 3258)